<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/image_icon"
        android:label="Indo Ali"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/image_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.IndoAli"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".javaScreens.resumeActivity" />
        <activity android:name=".javaScreens.aviaoActivity" />
        <activity android:name=".javaScreens.refeicaoActivity" />
        <activity android:name=".javaScreens.entretenimentoActivity" />
        <activity android:name=".javaScreens.hospedagemActivity" />
        <activity android:name=".javaScreens.carroActivity" />
        <activity android:name=".javaScreens.viewViagemActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />

    </application>

</manifest>